@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $backgroundMain;
  font-family: Roboto;
}

html {
  height: 100vh;
  background-color: $backgroundMain;
}
