
@import "./global.scss";

.modal-container{
    position: fixed;
    z-index: 1; 
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    transition: .5s;

    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $defaultGray;
        margin: auto;
        padding: 30px;
        width: 45%;
        height: 90%;

        .new-todo-name{
            font-size: 14px;
            height:30px;
            width:100%;
            padding:5px 10px;
            border-radius:6px;
            border:none;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:focus{
                outline: none;
            }
        }

        .divider{
            width:100%;
            height: 4px;
            background-color:$defaultOrange;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .todo-tasks{
            height:100%;
            width:100%;
            


            .new-task-content{
                display: flex;
                align-items: center;

                .checkbox {
                    display: inline-flex;
                    cursor: pointer;
                    position: relative;
                }
                
                
                .checkbox > input {
                    height: 15px;
                    width: 15px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    border: 2px solid #000;
                    outline: none;
                    transition-duration: 0.3s;
                    background-color: transparent ;
                    cursor: pointer;
                  }
                
                .checkbox > input:checked {
                    border: 2px solid green;
                }
                
                .checkbox > input:checked + span::before {
                    content: '\2713';
                    display: block;
                    color: green;
                    position: absolute;
                    font-size: 2rem;
                    right: -10px;
                    top: -15px;
                   
                }
                
                .checkbox > input:active {
                    border: 2px solid #34495E;
                }

                input[type="text"]{
                    color:#fff;
                    margin:5px;
                    font-size: 16px;
                    padding:5px 10px;
                    width:100%;
                    background-color:transparent;
                    outline:none;
                    border:0px;
                    border-bottom:1px solid #FF9900;   
                }

                ::placeholder{
                    color:#808080
                }

                .remove-btn{
                    color:$defaultOrange;
                    font-size:20px;

                    &:hover{
                        cursor: pointer;
                    }
                }

            }

            .add-new-task-menu{
                display: flex;
                justify-content: flex-end;

                .cancel-new-todo{
                    width:100px;
                    padding:6px;
                    font-weight: 500;
                    font-size: 16px;
                    border: 0px;
                    border-radius: 4px;
                    background-color:#FF3D00;
                    text-transform: uppercase;
                    color:#fff;
                    margin:10px;
                    &:hover{
                        cursor: pointer;
                    }
                }

                .add-new-todo{
                    width:100px;
                    padding:6px;
                    font-weight: 500;
                    font-size: 16px;
                    border: 0px;
                    background-color:$defaultOrange;
                    border-radius: 4px;
                    text-transform: uppercase;
                    color: #fff;
                    margin:10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

        }

        .modal-footer{
            display: flex;
            margin-top: 20px;
            width: 100%;
            justify-content: space-between;

            .modal-close{
                font-weight: 300;
                font-size:28px;
                text-transform: uppercase;
                color:$defaultOrange;

                &:hover{
                    cursor: pointer;
                }
            }

            .save-todo-btn{
                font-size: 20px;
                font-weight: 500;
                border: 0px;
                border-radius: 8px;
                height:50px;
                width: 130px;
                text-transform: uppercase;
                background-color:$defaultOrange;
                color:#fff;

                &:hover{
                    cursor: pointer;
                }
            }

            .modal-message{
                color:#fff; 
            }
        }
    }
}